.hed {
	text-align: center;
	color: #2ec4b6;
}

.mcq-box {
	width: 20vw;
	margin: 3% auto;
	padding: 2%;
	background: white;
	border-radius: 2vh;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.options label {
	display: block;
	padding: 5%;
	background: #f1f1f1;
	border-radius: 1vh;
	cursor: pointer;
}

.options label:hover {
	background: #2ec4b6;
	color: white;
}

button {
	margin-top: 6%;
	padding: 2vh 3vh;
	border: none;
	background: #2ec4b6;
	color: white;
	border-radius: 1vh;
	cursor: pointer;
}

.q-title {
	font-size: 2vw;
	padding-top: 5%;
	padding-bottom: 8%;
}

.btn-group {
	display: flex;
	gap: 1vw;
}

b {
	color: #2ec4b6;
	font-size: 1.5vw;
}