.hed {
	text-align: center;
	color: #2ec4b6;
}

.mcq-box {
	width: 20%;
	margin: 3% auto;
	padding: 2%;
	background: white;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.options label {
	display: block;
	padding: 5%;
	background: #f1f1f1;
	border-radius: 10px;
	cursor: pointer;
	font-size: 20px;
}

.options label:hover {
	background: #2ec4b6;
	color: white;
}

button {
	margin-top: 6%;
	padding: 5%;
	border: none;
	background: #2ec4b6;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
}

.q-title {
	font-size: 30px;
	padding-top: 5%;
	padding-bottom: 8%;

}

.btn-group {
	display: flex;
	gap: 1vw;
}

b {
	color: #2ec4b6;
	font-size: 19px;
}

@media (max-width:600px) {
	.mcq-box {
		width: 100vmax;
		padding: 15px;
		border-radius: 2vmax;
	}

	.options label {
		display: block;
		padding: 5%;
		font-size: 100vmax;
	}

	button {
		width: 5vh;
		border-radius: 1vh;
		font-size: 20vmax;
	}

	.q-title {
		font-size: 30vmax;
		padding-top: 7vmax;
		padding-bottom: 7vmax;

	}

}